<h1>HELLO</h1>

Category: <select ng-model="choice">
	<option value="movie">movie</option>
	<option value="actor">actor</option>
	<option value="director">director</option>
</select>

Search by Name: <input ng-model="search">
		
<!-- 		<div ng-show="choice === option">

		<input> -->
			<ul>
				<li ng-repeat="object in data | filter: choice | filter: search "> {{object}}</li>
			</ul>
<!--  -->
		
<!-- 		<ul ng-show="choice === 'actors'">
			<li ng-repeat="object in actors"> {{object.name}}</li>
		</ul>
		
		<ul ng-show="choice === 'directors'">
			<li ng-repeat="object in directors"> {{object.name}}</li>
		</ul> -->