

<div style="margin-left: 15%, margin-right: ">
Type: <input class="form-control" ng-model="newEnt.type">
Name: <input class="form-control" ng-model="newEnt.name">
<button ng-click="addEntity()" type="button" class="btn btn-info">Add Entity</button>
</div>

<br></br>
<div>
Search by Category: 
<input ng-model="choice">

Search by Name:

<input ng-model="search">
			<ul>
				<li ng-repeat="object in data | filter: choice | filter: search "> Type: {{object.type}} - Name: {{object.name}}</li>
			</ul>
</div>